In [3]:
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS
import numpy as np
from matplotlib import pyplot as plt

c:\Users\mais1\anaconda3\envs\kepler310\lib\site-packages\keplergl\keplergl.py:2: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  from pkg_resources import resource_string

In [4]:
df = pd.read_csv("../Data/citibike_2022_with_weather_sample.csv", low_memory=False)
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp
0,C31A06A81423A14C,classic_bike,2022-01-18 07:40:25.346,2022-01-18 07:43:35.441,W 26 St & 8 Ave,6297.02,10 Ave & W 28 St,6459.04,40.747348,-73.997236,40.750664,-74.001768,member,2022-01-18,1.8
1,6104B30E6CC08F21,classic_bike,2022-01-18 20:13:23.444,2022-01-18 20:57:37.652,Jay St & York St,4895.09,Clark St & Henry St,4789.03,40.701403,-73.986727,40.697601,-73.993446,member,2022-01-18,1.8
2,127F7DF7F787F370,classic_bike,2022-01-01 02:26:22.776,2022-01-01 02:46:12.503,Greenwich St & Perry St,5922.04,E 13 St & Avenue A,5779.09,40.734980,-74.006970,40.729667,-73.980680,casual,2022-01-01,11.6
3,FF12FDCC260D47C3,classic_bike,2022-01-06 18:30:28.542,2022-01-06 18:44:35.763,Lexington Ave & E 36 St,6313.10,W 26 St & 10 Ave,6382.05,40.747574,-73.978801,40.749718,-74.002950,member,2022-01-06,4.9
4,D8402474AF50D5F1,classic_bike,2022-01-27 18:29:15.544,2022-01-27 18:30:52.077,31 St & 21 Ave,7202.07,31 St & Ditmars Blvd,7144.02,40.778130,-73.908420,40.776168,-73.910485,member,2022-01-27,-4.2

In [5]:

df["trip_count"] = 1

df[["start_station_name", "end_station_name", "trip_count"]].head()

        start_station_name      end_station_name  trip_count
0          W 26 St & 8 Ave      10 Ave & W 28 St           1
1         Jay St & York St   Clark St & Henry St           1
2  Greenwich St & Perry St    E 13 St & Avenue A           1
3  Lexington Ave & E 36 St      W 26 St & 10 Ave           1
4           31 St & 21 Ave  31 St & Ditmars Blvd           1

In [6]:
group_cols = [
    "start_station_name",
    "end_station_name",
    "start_lat",
    "start_lng",
    "end_lat",
    "end_lng"
]

df_agg = df.groupby(group_cols, as_index=False)["trip_count"].sum()

df_agg.head()
df_agg.shape

(923772, 7)

In [7]:
from keplergl import KeplerGl

m = KeplerGl(height=700)
m.add_data(data=df_agg, name="Bike trips aggregated")

print("Kepler map object created.")

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter
Kepler map object created.

In [8]:
import json
import os

config = m.config

config_path = "../config.json"              
html_path = "../Docs/citibike_kepler_map.html"

with open(config_path, "w", encoding="utf-8") as f:
    json.dump(config, f, indent=2)

m.save_to_html(file_name=html_path, config=config)

print("Saved:", config_path, html_path)

Map saved to ../Docs/citibike_kepler_map.html!
Saved: ../config.json ../Docs/citibike_kepler_map.html

### Kepler Map 

![Citibike Routes](../Imgs/citibike_routes.png)

I changed the Point layer color to make individual stations more visible and to highlight high-density areas.
I added an Arc layer to show movement between stations, which helps visualize flow direction and traffic intensity.
Colors were adjusted for contrast so that routes (arcs) stand out from the station points.
These changes make the busiest regions and trip patterns easier to see at a glance.

## Filter Analysis â€“ Most Frequent Bike Trips in NYC

![Top Routes](../Imgs/top_routes_filtered.png)

After applying a filter to `trip_count`, only the busiest flows remained visible.  
The strongest concentration is clearly in **Midtown and Lower Manhattan**, where major trip corridors and station clusters are tightly interconnected.  
This suggests high commuter density, short-distance travel patterns, and bicycle use as a fast alternative for navigating the urban core.  
In contrast, outer regions like Brooklyn and Queens show fewer but still noticeable routes, indicating lower but active usage outside the central business district.

In [8]:
import json

config = m.config

In [9]:
config_path = "../Docs/kepler_config.json"

with open(config_path, "w") as f:
    json.dump(config, f, indent=2)

In [10]:
html_path = "../Docs/citibike_kepler_map_with_config.html"

m.save_to_html(file_name=html_path, config=config)
html_path

Map saved to ../Docs/citibike_kepler_map_with_config.html!

'../Docs/citibike_kepler_map_with_config.html'